# History files
.Rhistory
.Rapp.history

# Data files
*.RData
*.RDS
*.Rds
*.rds
*.loom
*.zip
*.h5ad
*.feather
SCENIC/


# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

#results
CA_GSE155512/
*.txt
CA_plot/
int/
output/
dataset1/
umap.csv
pca.csv
meta.csv
genes.csv
cells.csv
combined.mtx
unspliced.mtx
spliced.mtx
.Trash-1000/
CA_*/
Coronary_snATAC-main
datatable/
plots/
*.png
*.csv
*.svg